.mint-switch{
    height: .4rem !important;
    width: .84rem;
}

.mint-switch-core{
    height: .34rem !important;
    width: 1rem !important;
}

.mint-switch-core::after{
    height: 0.3rem !important;
    width: .4rem !important;

}
.mint-switch-core::before{
    height: 0.3rem !important;
    width: .4rem !important;
    border: none !important;
}